:root {
    --basic-dark:#070707;
    --basic-light:#F6F6F6;
    --basic-extra-light:#FFFFFF;

    --special: #828282;    
}

.page {
    background-color: var(--basic-extra-light);
}

.page-body {
    color:var(--basic-dark);
    margin: 0 auto;
    min-height: 100%;
    max-width: 1445px;
    min-width: 374px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
}

@media screen and (max-width:499px) {
    .page-body {
        width: 100%;
    }
}

@media screen and (min-width:501px) {
    .page-body {
        margin: 0 auto;
        width: 100%;
    }
}


/*==================== header start ====================*/
/*==================== header start ====================*/
.header {
    max-width: 944px;
}

.header__navigation {
    width: 100%;
    max-width: 1445px;
    margin: 0 auto;
}

@media screen and (min-width:501px) {
    .header {
    }
}

@media screen and (min-width:501px) {
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;

        margin: 0 auto;
    }
}

.header__navigation {
    color: var(--special);
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 32px;
    margin: 0;
    margin-bottom: 40px;
    border-bottom:  1px solid #828282;
}

@media screen and (min-width:501px) {
    .header__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        line-height: 22px;
    }
}

.header__link {
    text-decoration: none;
    color: var(--special);
    font-family: 'Gilroy-Bold';
    font-weight: 700;
}

@media screen and (min-width:501px) {
    .header__link {
    }
}

@media screen and (min-width:501px) {
    .header__link {
    }
}

.header__link:hover {
    color: var(--basic-dark);
}

.header__link-active {
    color: var(--basic-dark);
    font-family: 'Gilroy-Bold';
}

.header__text-container {
    display: flex;
    
}

@media screen and (max-width:499px) {
    .header__text-container {
        flex-direction: column;
        margin-bottom: 39px;
    }
}

@media screen and (min-width:501px) {
    .header__text-container {
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 40px;

        gap: 310px;
    }
}
.header__title {
    margin: 0;
    font-family: 'Gilroy-Bold'
}

@media screen and (max-width:499px) {
    .header__title {
        font-size: 47px;
        line-height: 58px;
        margin-bottom: 23px;
        margin-left: 26px;
    }
}

@media screen and (min-width:501px) {
    .header__title {
        font-size: 47px;
        line-height: 59px;
    }
}

.header__text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:499px) {
    .header__text {
        margin-left: 28px;
    }
}
.header__lang-switch {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    transform: rotate(-90deg);
}

@media screen and (max-width:499px) {
    .header__lang-switch {
        display: none;
    }
}

.header__lang-link {
    color: var(--special);
}

.header__lang-link:hover {
    color: var(--basic-dark);
}

/*==================== header end ====================*/
/*==================== header end ====================*/


/*==================== main start ====================*/
/*==================== main start ====================*/
/*==================== intro block start ====================*/
.intro {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width:499px)  {
    .intro {
        margin-bottom: 64px;
    }
}

@media screen and (min-width:500px) {
    .intro {
        margin-bottom: 104px;
    }
}

.intro__pc-image {
    margin: 0 auto;
    max-width: 943.61px;
    object-fit: cover;
}

@media screen and (max-width:499px) {
    .intro__pc-image {
        display: none;
    }
}

/*==================== intro block end ====================*/
/*==================== description block start ====================*/

.description {
    background-color: var(--basic-light);
    margin: 0 auto;
}

@media screen and (max-width:499px) {
    .description {
       /* width: calc(100% - 29*2); */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width:501px) {
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.description__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

@media screen and (max-width:499px) {
    .description__title {
        margin-bottom: 30px;
        margin-top: 81px;
    }
}

@media screen and (min-width:501px) {
    .description__title {
        margin-bottom: 18px;
        margin-top: 120px;
    }
}


.description__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 218px;
}

@media screen and (max-width:499px) {
    .description__text-container {
        margin-bottom: 30px;
        margin-top: 81px;
    }
}

@media screen and (min-width:501px) {
    .description__text-container {
        margin-bottom: 107px;
    }
}

.description__text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
/*==================== description block end ====================*/
/*==================== skills block start ====================*/

.skills {
    margin: 0 auto;
}

.skills__title {
    text-align: center;
    margin-top: 91px;
    margin-bottom: 70px;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}

.skills__text {
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 87px;
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 110px;
}

.skills__skill-box {
    display: flex;
    flex-direction: column;

    text-align: center;
    min-width: 176px;
}

.skills__image {
    text-align: center;
    margin-bottom: 24px;
}

.skills__image-caption {
    color: var(--special);
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
}

.skills__mark-list {
    display: flex;
    flex-direction: row;
    gap: 9px;
}


/*==================== skills block end ====================*/
/*==================== portfolio block start ====================*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--basic-light);
}

.portfolio__title {
    margin-bottom: 47px;
    margin-top: 113px;

    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.portfolio__image-box {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.portfolio__image {
    max-width: 936px;
    margin-bottom: 45px;
}

.portfolio__link {
    margin-bottom: 99px;
    color: var(--basic-dark);
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.portfolio__link:last-child {
    margin-bottom: 96px;
}

/*==================== portfolio block end ====================*/
/*==================== main block end ====================*/

/*==================== footer block start ====================*/
.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 114px;

    margin-bottom: 123px;
}

.footer__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.footer__text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    max-width: 265px;
    margin-bottom: 29px;
}

.footer__button {
    background-color: var(--basic-dark);
    color: var(--basic-extra-light);
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 25px;

    width: 180.5px;
    height: 42px;
    margin-bottom: 85.78px;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    gap: 60px;

    margin-bottom: 45.76px;
}

.footer__social-link {
    list-style-type: none;
}

.footer__caption {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--special);
}

/*==================== footer block end ====================*/